.gridpart{
  border: 1px solid rgba(163, 128, 128, 0.397);
}
#gridcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body{
  padding: 5px;
}

#menu > button{
  background-color: aliceblue;
}